@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


*{
    padding: 0;
    margin: 0;
}
body{
    font-size: 12px;
    line-height: 18px;
    font-family: 'Noto Sans KR', sans-serif;
}
a{
    color: #222;
    text-decoration: none;
}
ul{
    list-style: none;
}
ol{
    list-style: none;
}
img{
    border: none;
    vertical-align: top;
}

.cf{}
.cf:after{
    content: "";
    display: block;
    clear: both;
}